<form action="/articles/<%=@article.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
<label for="article_title">Title: <%=@article.title%> </label>
<input id="article_title" type="text" name="title"></input>
<label for="article_content">Content:</label>
<textarea name="content" cols="30" rows="10"> <%=@article.content%> </textarea>


<button type="submit" value="Submit">Submit</button>
</form>
